/* Diagnostic Styling */


/* temp background color */
body {
    background: yellow;
}
  
/* vertical and horizontal centering */
body {
  display: grid;
  place-content: center;
  height: 100vh;
}

svg:hover{
  animation: flip 2s infinite;
  stroke: green;
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
